/*Global Styles*/

body{
    font-family: 'Roboto', sans-serif;
    background-color:hsl(210, 36%, 96%);
}

img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow:0px 4px  #5E8B7E;
    object-fit: cover;
    
}

h4,p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 0.5px;
}


/*Title*/



.title{
    
    text-align: center;
    font-size: 30px;
    color: #2F5D62;
    letter-spacing: 2px;
}




.underline{
    width:8rem ;
    height: 0.2rem;
    background-color: #A7C4BC;
    margin-left: auto;
    margin-right: auto;
}


/*Review*/
.review{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    background-color: tomato;
    text-align: center;
    background-color: white;
}


#job{
    color: #5E8B7E;
    margin-top: -10px;
    text-transform: uppercase;
}

#author{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.prev , .next {
    color:  #A7C4BC; 
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

#info{
    word-spacing: 1px;
}



.random-btn{
    background-color: transparent;
    margin-top: 0.5rem;
    color: #2F5D62;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius:15px;
    border-color:#2F5D62 ;
    cursor: pointer;
}



